@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  @apply font-semibold;
  font-family: 'Inter', sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #faf9f9;
}
